<!DOCTYPE html>
<html>
  <head>
    <title>Hyped</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('Hyped_favicon.png') %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    
    <script>
      window.Jordan1 = "<%= image_url("Jordan1.png") %>"
      window.Kobe1 = "<%= image_url("logo-kobe.jpg") %>"
      window.Yeezy1 = "<%= image_url("yeezy.png") %>"
      window.Travis = "<%= image_url("travis-scotts.png") %>"
     </script>
  
  </head>

  <body>
  
    <%= yield %>
  </body>
</html>
