<!DOCTYPE html>
<html>
  <head>
    <title>Hyped</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('Hyped_favicon.png') %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@300&family=Oswald&family=PT+Sans+Narrow&display=swap" rel="stylesheet">
    
     <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-92TJ6CQ9LY"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-92TJ6CQ9LY');
      </script>
      <script>
        window.OffWhiteCollection = "<%= image_url("offwhite.jpeg") %>"
        window.LebronCollection = "<%= image_url("lebron.png") %>"
        window.FogCollection = "<%= image_url("fog.jpg") %>"
        window.ConverseCollection = "<%= image_url("conversecollection.jpeg") %>"
        window.YeezyCollection  = "<%= image_url("yeezycollection.jpeg") %>"
        window.Jordan1Collection = "<%= image_url("jordan1collection.jpeg") %>"
        window.Jordan4Collection = "<%= image_url("jordanlogo.png") %>"
        window.Jordan1 = "<%= image_url("Jordan1.png") %>"
        window.Kobe1 = "<%= image_url("logo-kobe.jpg") %>"
        window.Yeezy1 = "<%= image_url("yeezy.png") %>"
        window.Travis = "<%= image_url("travis-scotts.png") %>"
     </script>
  
  </head>

  <body>
  
    <%= yield %>
  </body>
</html>
